#frame
{
	background-color: rgb(38, 38, 38);
	border-radius: 40px;
	border: transparent;
}

#lbl_mssg
{
    color: rgb(255, 255, 255);
}
#lbl_tip
{
    color: rgb(200 , 200, 200);
}

#pushButton_icon{
    background-image: url(<PATH>/ui_elements/mm_playblast_matte.png)
}